<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Language</key>
	<string>en-GB</string>
	<key>Tenant</key>
	<string>uk</string>
	<key>Host</key>
	<string>public.je-apis.com</string>
	<key>AuthCode</key>
	<string>Basic VGVjaFRlc3Q6bkQ2NGxXVnZreDVw</string>
</dict>
</plist>
